.PageHeader {
  background-color: var(--darkGrey);
  color: white;
  padding: 15rem 0;
}

.PageHeader .overlay {
  z-index: 9999;
  min-height: 100%;
  background-image: linear-gradient(
    180deg,
    rgba(52, 51, 51, 0) 0%,
    #343333 100%
  );
  background-size: cover;
}
.PageHeader .BackgroundImage {
  opacity: 0.8;
}

.PageHeader-large {
  padding: 25rem 0;
}

.PageHeader--Title {
  font-size: 5rem;
  line-height: 70px;
}

.PageHeader--Name {
  color: #f9a01b;
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 1.8rem;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
}
