.PageHeader {
  background-color: var(--darkGrey);
  color: white;
  padding: 15rem 0;
}

.PageHeader .BackgroundImage {
  opacity: 0.8;
}

.PageHeader-large {
  padding: 25rem 0;
}

.PageHeader--Title {
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 70px;
}

.PageHeader--Name {
  color: #f9a01b;
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 1.8rem;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

.PageHeader .container .social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.PageHeader .container .social li {
  margin: 0 10px;
}

.PageHeader .container .social li a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.PageHeader .container .social li a:after {
  content: '';
  background: #f9a01b;
  position: absolute;
  top: -100%;
  left: 0;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  height: 100%;
  width: 100%;
}

.PageHeader .container .social li a:before {
  position: relative;
  z-index: 1;
}

.PageHeader .container .social li a:hover:after {
  top: 0;
}

.chevron {
  color: white;
  justify-content: center;
  display: flex;
}

@media (max-width: 600px) {
  .PageHeader--Title {
    font-size: 30px;
    line-height: 35px;
  }
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
}
