.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex: 50%;
}
.center {
  text-align: center;
}

.about img {
  position: relative;
  left: -100px;
  width: 452px;
  height: 706px;
}
